html {
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100%;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
  background-image: url("../images/pattern.png");
}

a {
  color: inherit;
  text-decoration: none;
}

/* Unknown props */
/* box-shadow: 0 2px 5px rgba(0,0,0,.26); - header */
/* border-radius: 3px; - card rounding */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - card shadow */
/* border-top-left-radius: 3px;
  border-top-right-radius: 3px; - for card image */

/* Your styles go below */
*, :before, :after {
  box-sizing: inherit;
}
.content {
  padding: 60px 0;
}
.container {
  margin: 0 auto;
  width: 1170px;
  padding: 0 15px;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.header {
  width: 100%;
  background-color: seagreen;
  color: white;
  line-height: 60px;
  position: fixed;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,.26)
}
.nav-left {
  float: left;  
  text-transform: uppercase;
  font-size: 0;
}
.nav-right {
  float: right;
  font-size: 0;
}
.nav-link {
  display: inline-block;
  vertical-align: top;;
  margin-right: 16px;
  position: relative;
  font-size: 1rem
}
.nav-auth-link {
  display: inline-block;
  vertical-align: top;;
  margin-right: 16px;
  position: relative;
  font-size: 1rem
}
.nav-link:last-child {
  margin-right: 0;
}
.nav-auth-link:last-child {
  margin-right: 0;
}
.nav-link-active:before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  left: 0;
}
.img-title {
  height: 400px;
  background-image: url("../images/intro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  margin-bottom: 40px;
}
.img-title-text {
  line-height: 400px;
  text-align: center;
  font-weight: bold;
  font-size: 64px;
  color: white;
}
.row {
  margin: 0 -15px;
}
.row:after {
  content: "";
  display: block;
  clear: both;
}
.column {
  width: 25%;
  padding: 0 15px;
  float: left;
}
.title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}
.card {
  margin-bottom: 30px;
}
.card-image {
  background-image: url("../images/everest.jpg");
  height: 250px;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
.card-head {
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-content {
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.head-descr {
  color: grey;
  margin-bottom: 15px;
}
.descr {
  margin-bottom: 15px;
}
.card__actions {
  font-size: 0;
}
.card__action {
  margin-right: 12px;
}
.button {
  display: inline-block;
  vertical-align: top;
  min-width: 64px;
  height: 36px;
  padding: 0 12px;
  border-radius: 3px;
  background-color: transparent;
  color: green;
  font-size: 1rem;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.card__action:last-child {
  margin-right: 0;
}
.load-more {
  text-align: center;
  margin-bottom: 30px;
}
.button-size {
  height: 48px;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 48px;
}
.button-change-color {
  background-color: green;
  color: white;
}
.footer {
  padding: 24px 0;
  background-color: #231f1f;
  color: white;
}
.footer-link {
  display: table;
  margin-bottom: 16px;
  line-height: 1.2;
}
.footer-link:last-child {
  margin-bottom: 0;
}
