*, :before, :after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  min-height: 100%;
  height: 1px;
}

body {
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}

/* Unknown props */
/* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); - filter */
/* transform: rotate(45deg); - checkbox */
/* border-radius: 3px; - card rounding */

/* Your styles go below */
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}
.header, .footer {
  width: 100%;
  height: 60px;
  background-color: #3F51B5;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.content {
  padding: 48px 0;
}
.container {
  margin: auto;
  padding: 0 15px;
  width: 100%;
}
@media (min-width: 320px) {
  .container {
    width: 300px;
  }
}
@media (min-width: 544px) {
  .container {
    width: 524px;
  }
}@media (min-width: 768px) {
  .container {
    width: 748px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1004px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
.row {
  margin: 0 -15px;
  font-size: 0;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0 15px;
  font-size: 1rem;
}
.col-start-12 {
  width: 100%;
}
.col-start-11 {
  width: 91.666666%;
}
.col-start-10 {
  width: 83.333333%;
}
.col-start-9 {
  width: 75%;
}
.col-start-8 {
  width: 66.666666%;
}
.col-start-7 {
  width: 58.333333%;
}
.col-start-6 {
  width: 50%;
}
.col-start-5 {
  width: 41.666666%;
}
.col-start-4 {
  width: 33.33333%;
}
.col-start-3 {
  width: 25%;
}
.col-start-2 {
  width: 16.66666%;
}
.col-start-1 {
  width: 8.33333%;
}
@media(min-width: 544px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
  width: 91.666666%;
  }
  .col-sm-10 {
    width: 83.333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.666666%;
  }
  .col-sm-7 {
    width: 58.333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.666666%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666%;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
}
@media(min-width: 768px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
  width: 91.666666%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666%;
  }
  .col-md-1 {
    width: 8.33333%;
  }
}
@media(min-width: 1024px) {
  .col-sl-12 {
    width: 100%;
  }
  .col-sl-11 {
  width: 91.666666%;
  }
  .col-sl-10 {
    width: 83.333333%;
  }
  .col-sl-9 {
    width: 75%;
  }
  .col-sl-8 {
    width: 66.666666%;
  }
  .col-sl-7 {
    width: 58.333333%;
  }
  .col-sl-6 {
    width: 50%;
  }
  .col-sl-5 {
    width: 41.666666%;
  }
  .col-sl-4 {
    width: 33.33333%;
  }
  .col-sl-3 {
    width: 25%;
  }
  .col-sl-2 {
    width: 16.66666%;
  }
  .col-sl-1 {
    width: 8.33333%;
  }
}
@media(min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
  width: 91.666666%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666%;
  }
  .col-lg-1 {
    width: 8.33333%;
  }
}
.filter {
  margin-bottom: 32px;
  padding: 16px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.filter__section {
  margin-bottom: 16px;
}
.filter__title {
  margin-bottom: 25px;
  font-size: 1.25rem;
}
.filter__checkbox {
  padding-bottom: 12px;
}
.input-hidden {
  display: none;
}
.checkbox {
  display: block;
  padding-left: 30px;
  line-height: 30px;
  position: relative;
  cursor: pointer;
}
.checkbox:before {
  content: "";
  margin-top: -10px;
  border: 2px solid darkgrey;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 0;
}
input:checked + .checkbox:after {
  content: "";
  border-right: 2px solid #003;
  border-bottom: 2px solid #003;
  width: 6px;
  height: 8px;
  position: absolute;
  top: 8px;
  left: 5px;
  transform: rotate(50deg);
}
.card {
  margin-bottom: 30px;
}
.card-image {
  background-image: url("../images/everest.jpg");
  height: 250px;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
.card-head {
  font-size: 20px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-content {
  padding: 15px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.head-descr {
  color: grey;
  margin-bottom: 15px;
}
.descr {
  margin-bottom: 15px;
}
.card__actions {
  font-size: 0;
}
.card__action {
  margin-right: 12px;
}
.button {
  display: inline-block;
  vertical-align: top;
  min-width: 64px;
  height: 36px;
  padding: 0 6px;
  border-radius: 3px;
  background-color: transparent;
  color: green;
  font-size: 1rem;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.card__action:last-child {
  margin-right: 0;
}
