html {
  font-size: 16px;
}
table {
  width: 100%;
}
td {
  padding: 16px;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 2.8em;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 4.5vh;
}
h5 {
  font-size: 1.5vw;
}
h6 {
  font-size: 3vmin;
}
tr:nth-child(even) {
  background-color: #ddd;
}
td:first-letter {
  color: red;
}
tr:nth-child(odd) td:nth-child(5n), tr:nth-child(odd) td:nth-child(6n),tr:nth-child(odd) td:nth-child(7n) {
  font-weight: bold;
  font-style: italic;
}
